.equipment-types-section{
    &__heading{
        color:$clr-sub-heading;
        background:linear-gradient(#F8F8F8 0%,#FFFFFF 40%);
        padding:1.5rem 1rem;
        font-weight:500;
        font-size:1rem;
    }

    &__list{
        width:100%;
        display:flex;
        flex-direction:row;
        gap:20px;
    }

    &__wrapper{
        width:100%;
        padding-left:1rem;
        padding-right:2rem;
        margin-top:2rem;

        @media(min-width:768px){
            padding-right:1rem;
            .swiper-wrapper{
                grid-template-columns:repeat(3,minmax(200px,1fr))
            }
        }

        @media(min-width:1440px){
            .swiper-wrapper{
                grid-template-columns:repeat(4,minmax(200px,1fr))
            }
        }
    }

    &__list-item{
        height:160px;
        background-color:white;
        border-radius:5px;
        padding:0.5rem;

        & > a{
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            height:100%;

            & > h3{
                font-size:1rem;
                font-weight:500;
            } 
    
            & > button{
                align-self:flex-end;
                border-radius:50%;
                height:30px;
                width:30px;
                letter-spacing:-0.2px;
                border:1px solid $clr-button-circle;
            }
        }

    }

    &__interaction{
        height:35px;

        .equipment-types-section__show-more-button{
            display:none;
            margin-top:1rem;

            @media(min-width:768px){
                display:inline-flex;
                flex-direction:row;
                gap:15px;
            }

            & > img,
            & > span{
                transition: all 0.5s ease;
            }
        }

        .swiper-pagination{
            @media(min-width:768px){
                display:none;
            }
        }
    
        .swiper-pagination-bullet-active{
            background-color:#B5B6BC;
        }

    }
}
