$clr-pink : #FF3E79;
$clr-green-900 : #41F6D7;
$clr-green-100 : #B8FFEC;
$clr-grey-900 : #7E7E82;
$clr-grey-100 : #EAEAEA;
$clr-grey-500 : #F8F8F8;
$clr-grey-700 : #B5B6BC;
$clr-black-900 : #1B1C21;

$clr-button-circle : $clr-pink;
$clr-sub-heading : $clr-grey-900;
$clr-divider : $clr-grey-100;
$clr-background : $clr-grey-500;


